# Ignore node_modules to avoid bloated image
node_modules

# Ignore logs
*.log
npm-debug.log*

# Ignore environment files (just in case)
.env

# Ignore Docker-related files not needed inside the image
.dockerignore
Dockerfile

# Ignore Git and system junk
.git
.gitignore
.DS_Store
*.swp
*.swo
*.bak
